body {
  padding-top: 1em;
  background-color: #001f3f;
  width: auto;
  height: auto;
}

.screen {
  margin: auto;
  text-align: center;
  padding: 2em;
  height: 50px;
  max-width: 250px;
  background-color: #001f3f;
  border-color: #7FDBFF;
  border-width: 3px;
  border-style: solid;
  color: #7FDBFF;
  border-radius: 4px;
  font-size: 2.2em;
}

#case {
  background-color: #F012BE;
  width: 445px;
  padding: 1em;
  margin: 0% 25% 0% 25%;
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
	#case {
    width: 314px;
		overflow-x: auto;
		display: block;
    margin: 0% 2% 0% 2%;
	}
}

table {
  position: center;
  text-align: center;
  width: auto;
  padding: auto;
  margin: auto;
  border-collapse: collapse;
  -webkit-appearance: none;
}

@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
    -webkit-appearance: none;
	}
}

.pure-button {
  font-size: 3em;
  color: #7FDBFF;
  background: #001f3f;
  transition:background-color 1s ease-in-out;
  border-radius: 10px;
  margin: 2px;
  padding: 0.30em;
  width: 2em;
  border: none;
  -webkit-appearance: none;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;


}

.pure-button:focus{
  outline: 0
}

.pure-button:active{
  outline-style:none;
  box-shadow: inset 2px 5px #7FDBFF;
}

@media screen and (max-width: 640px) {
	.pure-button {
    font-size: 2em;
		overflow-x: auto;
    padding: auto;
		display: block center;
    -webkit-appearance: none;
	}
}
